<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd">
		<bean id = "student" class="com.learnDev.dependencyInjection.Student">
		<!--<property name ="name" value ="Tarang"></property>-->
		<!--<property name ="id" value ="56"></property>-->
		<constructor-arg  name ="name" value = "Tarang Vadodaria"></constructor-arg>
		<constructor-arg  name ="id" value = "56"></constructor-arg>
		</bean>
		</beans>